<mat-card class="w-100">
  <mat-card-header>
    <h2>{{title}}</h2>
  </mat-card-header>
  <mat-card-content class="d-flex">
    <div class="mr-1">
      <div>
        <span>Scale X</span>
        
        <mat-slider
          [max]="1"
          [min]="0.1"
          [step]="0.01"
          [(value)]="scaleX"
          thumbLabel
          [displayWith]="formatLabel"
          (input)="scaleX = $event.value"
        ></mat-slider>
      </div>

      <div >
        <span>Margin X</span>
        
        <mat-slider
          [max]="100"
          [min]="-100"
          [step]="1"
          [(value)]="marginX"
          thumbLabel
          (input)="marginX = $event.value"
        ></mat-slider>
      </div>
      
      <div *ngIf="showSingleLineOption">
        <mat-checkbox [(ngModel)]="isSingleLine">Single line</mat-checkbox>
      </div>
    </div>
    <div>
      <span>Margin Y</span>
      
      <mat-slider
        [max]="100"
        [min]="-100"
        [step]="1"
        [(value)]="marginY"
        thumbLabel
        vertical invert
        (input)="marginY = $event.value"
      ></mat-slider>
    </div>
  </mat-card-content>
</mat-card>