<div
  class="scalable"
  (froalaInit)="initialize($event)"
  [froalaEditor]="options"
  [style.transform]="'scaleX(' + scaleX + ')'"
  [style.transformOrigin]="transformOrigin"
  [style.width]="actualWidth"
>
  <ng-container *ngIf="placeholder">{{placeholder}}</ng-container>
  <ng-content></ng-content>
</div>