<mat-card class="w-100">
  <mat-card-header>
    <h2>General Options</h2>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field class="mr-1">
        <mat-label>Series</mat-label>
        <mat-select [(ngModel)]="status.series">
          <mat-option *ngFor="let s of series" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Card Type</mat-label>
        <mat-select [(ngModel)]="status.cardType">
          <mat-optgroup *ngFor="let group of cardTypes" [label]="group.name">
            <mat-option *ngFor="let t of group.values" [value]="t">
              {{t}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox class="mr-1" [(ngModel)]="status.isPendulum" [disabled]="status.isDeckMaster">Pendulum</mat-checkbox>
      <mat-checkbox [(ngModel)]="status.isDeckMaster" [disabled]="status.isPendulum">Deck Master</mat-checkbox>
    </div>
    <div *ngIf="status.isPendulum || status.isDeckMaster">
      <mat-form-field class="mr-1">
        <mat-label>Box Size</mat-label>
        <mat-select [(ngModel)]="status.boxSize">
          <mat-option *ngFor="let size of ['Small', 'Medium', 'Large']" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="status.smallImage">Small Image</mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>