<mat-card class="w-100">
  <mat-card-header>
    <h2>{{title}}</h2>
  </mat-card-header>
  <mat-card-content class="d-flex">
    <div class="mr-1">
      <mat-form-field >
        <mat-label>Mode</mat-label>
        <mat-select [(ngModel)]="selectedMode">
          <mat-option *ngFor="let m of modes" [value]="m">
            {{m}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div class="mr-1">
        <mat-label>Horizontal Position</mat-label>
        <mat-slider
          [max]="100"
          [min]="0"
          [step]="1"
          [value]="horizontalPosition"
          thumbLabel
          [displayWith]="formatLabel"
          (input)="horizontalPosition = $event.value"
        ></mat-slider>
      </div>
    </div>
    <div class="mr-1">
      <mat-label>Vertical Position</mat-label>
      <mat-slider
        [max]="100"
        [min]="0"
        [step]="1"
        [value]="verticalPosition"
        thumbLabel
        vertical
        invert
        [displayWith]="formatLabel"
        (input)="verticalPosition = $event.value"
      ></mat-slider>
    </div>
  </mat-card-content>
</mat-card>