<div class="options flex-grow-1 mr-2">
  <app-options-general class="d-flex p-2"></app-options-general>
  <app-options-text title="Name options" #nameOptions class="d-flex p-2"></app-options-text>
  <app-options-image title="Artwork options" #artworkOptions class="d-flex p-2"></app-options-image>
  <app-options-text 
    title="Pendulum/Deck Master effect"
    [showSingleLineOption]="false"
    #pendulumEffectOptions
    class="d-flex p-2"
  ></app-options-text>
  <app-options-text title="Type/Ability options" [showSingleLineOption]="false" #typeAbilityOptions class="d-flex p-2"></app-options-text>
  <app-options-text title="Effect/Lore options" [showSingleLineOption]="false" #effectOptions class="d-flex p-2"></app-options-text>
  <app-options-text title="Copyright options"
    [showSingleLineOption]="false"
    [scaleX]="0.7"
    #copyrightOptions
    class="d-flex p-2"
  ></app-options-text>
  <div>
    <button mat-flat-button color="primary" (click)="save(card)">Save as Image</button>
  </div>
</div>
<div #card class="card position-relative">

  <img class="position-absolute"
    [src]="'/assets/' + status.series + '/CardTypes/' + status.cardType + '.png'"
  >

  <div class="artwork position-absolute" [style]="styles.artworkContainer">
    <img class="w-100 h-100"
      [src]="image"
      [style]="styles.artwork"
      [style.objectPosition]="artworkOptions.selectedPosition.toLowerCase()"
      [style.objectFit]="artworkOptions.selectedMode.toLowerCase()"
    >
  </div>

  <img *ngIf="status.isPendulumOrDeckMaster"
    class="position-absolute"
    [src]="'/assets/' + status.series + '/CardTypes/PendulumBars/' + status.cardType + '.png'"
    alt=""
  >
  <img *ngIf="status.isPendulum" class="position-absolute"
    [src]="'/assets/' + status.series + '/Boxes/Pendulum/' + status.boxSize + '.png'"
  >
  <img *ngIf="status.isDeckMaster" class="position-absolute"
    [src]="'/assets/' + status.series + '/Boxes/DeckMaster/' + status.boxSize + '.png'"
  >
  
  <div class="artwork position-absolute" [style]="styles.artworkContainer">
    <input id="artwork" type="file" accept='image/*' class="d-none" (change)="imageSelected($event.target.files[0])">
    <label for="artwork" class="w-100 h-100" [style]="styles.artwork"></label>
  </div>

  <div *ngIf="status.cardType.includes('Link')" class="linkArrows">
    <img *ngFor="let dir of ['topleft', 'top', 'topright', 'left', 'right', 'bottomleft', 'bottom', 'bottomright']"
      class="position-absolute link-arrow"
      [class]="dir"
      [style]="styles.linkArrow(dir)"
      [src]="'/assets/Arrows/Normal/' + dir + (status.linkArrows.get(dir) ? '_active' : '') +'.png'"
      (click)="status.linkArrows.set(dir, !status.linkArrows.get(dir))"
    >
  </div>

  <div class="position-absolute w-100">
    <app-froala-wrapper
      class="name"
      [class.line-height-1]="nameOptions.isSingleLine"
      [style.marginLeft]="nameOptions.marginX + 'px'"
      [style.marginTop]="nameOptions.marginY + 'px'"
      placeholder="Name"
      [width]="415"
      [scaleX]="nameOptions.scaleX"
    ></app-froala-wrapper>

    <app-attribute-selector class="attribute"></app-attribute-selector>

    <app-stars class="stars"></app-stars>
    
    <app-froala-wrapper
      class="setCode"
      [style]="styles.setCode"
      placeholder="Made with Web Card Maker"
    ></app-froala-wrapper>

    <app-froala-wrapper *ngIf="status.isPendulumOrDeckMaster"
      class="pendulumEffect"
      [style]="styles.pendulumEffect"
      [style.marginLeft]="pendulumEffectOptions.marginX + 'px'"
      [style.marginTop]="pendulumEffectOptions.marginY + 'px'"
      placeholder="Pendulum/Deck Master effect"
      [width]="status.isPendulum ? 376 : 456"
      [scaleX]="pendulumEffectOptions.scaleX"
    ></app-froala-wrapper>
    
    <app-froala-wrapper *ngIf="status.isPendulum"
      class="pendulumScale"
      [style]="styles.leftScale"
      placeholder="LS"
      [width]="30"
    ></app-froala-wrapper>
    <app-froala-wrapper *ngIf="status.isPendulum"
      class="pendulumScale"
      [style]="styles.rightScale"
      placeholder="RS"
      [width]="30"
    ></app-froala-wrapper>

    <app-froala-wrapper
      class="typeAbility"
      [style]="styles.typeAbility"
      [style.marginLeft]="typeAbilityOptions.marginX + 'px'"
      [style.marginTop]="typeAbilityOptions.marginY + 'px'"
      placeholder="[Type/Ability]"
      [scaleX]="typeAbilityOptions.scaleX"
    ></app-froala-wrapper>
    <app-froala-wrapper
      class="effect"
      [style]="styles.effect"
      [style.marginLeft]="effectOptions.marginX + 'px'"
      [style.marginTop]="effectOptions.marginY + 'px'"
      [class.lore]="status.cardType === 'Normal'"
      [class.effect]="status.cardType !== 'Normal'"
      placeholder="Effect or Lore"
      [width]="456"
      [scaleX]="effectOptions.scaleX"
    ></app-froala-wrapper>
    
    <div *ngIf="status.isMonster" class="atkDefLine">
      <app-froala-wrapper
        class="label mr-1"
        placeholder="ATK/"
      ></app-froala-wrapper>
      <app-froala-wrapper
        class="value mr-2"
        placeholder="1000"
      ></app-froala-wrapper>
      <app-froala-wrapper *ngIf="status.cardType !== 'Link'"
        class="label mr-1"
        placeholder="DEF/"
      ></app-froala-wrapper>
      <app-froala-wrapper *ngIf="status.cardType !== 'Link'"
        class="value"
        placeholder="1000"
      ></app-froala-wrapper>
      <app-froala-wrapper *ngIf="status.cardType === 'Link'"
        class="label-link mr-1"
        placeholder="LINK-"
      ></app-froala-wrapper>
      <app-froala-wrapper *ngIf="status.cardType === 'Link'"
        class="value-link"
        placeholder="4"
      ></app-froala-wrapper>
    </div>
    
    <app-froala-wrapper
      class="passcode"
      placeholder="12345678"
    ></app-froala-wrapper>
    
    <app-froala-wrapper
      class="edition"
    >
      1<sup>st</sup> Edition
    </app-froala-wrapper>

    <app-froala-wrapper
      class="copyright"
      placeholder="©2020 Studio Dice/SHUEISHA, TV TOKYO, KONAMI"
      [style.marginLeft]="copyrightOptions.marginX + 'px'"
      [style.marginTop]="copyrightOptions.marginY + 'px'"
      [scaleX]="copyrightOptions.scaleX"
      transformOrigin="100%"
      [width]="300"
    ></app-froala-wrapper>
  </div>
</div>