@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: auto;
  padding: 2% 0;

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 560px);
  height: min-content;

  
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  
  app-options-general, app-options-text, app-options-image {
    width: 50%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

.card {
  width: 549px;
  height: 800px;
  overflow: hidden;

  input {
    background-color: transparent;
    border-width: 0;
  }
}

.name {
  position: absolute;
  top: 35px;
  left: 40px;
  // width: 466px;
  font-size: 60px;
  font-family: MatrixSmallCaps;
}
.attribute {
  position: absolute;
  top: 36px;
  right: 36px;
}

.stars {
  position: absolute;
  top: 97px;
  left: 26px;
  right: 26px;
}

.artwork {
  &:first-of-type {
    background-color: white;
  }
  label {
    cursor: pointer;
  }
}

.setCode {
  position: absolute;
  font-size: 13px;
  font-family: StoneSerif;
  min-width: 100px;
}

.pendulumEffect {
  position: absolute;
  font-size: 16px;
  font-family: MatrixBook;
}
.pendulumScale {
  position: absolute;
  font-weight: bold;
  font-size: 29px;
  font-family: MatrixSmallCaps;
  min-width: 30px;
  text-align: center;
}
.typeAbility {
  position: absolute;
  font-weight: bold;
  font-family: StoneSerifSmallCaps;
  min-width: 100px;
  height: 34px;
  display: flex;
  align-items: center;
}
.effect {
  position: absolute;
  font-size: 16px;
  font-family: MatrixBook;
}
.lore {
  position: absolute;
  top: 624px;
  left: 46px;
  // width: 456px;
  font-size: 16px;
  font-style: italic;
  font-family: StoneSerif;
}
.atkDefLine {
  display: flex;
  position: absolute;
  top: 729px;
  right: 46px;
  font-size: 25px;
  font-weight: bold;
  font-family: MatrixSmallCaps;
  // justify-content: flex-end;

  .value {
    min-width: 50px;
    text-align: right;
  }
  
  .label-link {
    font-family: EurostyleCandyW01;
    font-size: 22px;
  }
  .value-link {
    font-family: RoGSanSerifStdB;
    font-size: 20px;
    min-width: 10px;
    text-align: right;
  }
}

.passcode {
  position: absolute;
  top: 758px;
  left: 30px;
  font-size: 15px;
  font-family: StoneSerif;
  min-width: 100px;
}
.edition {
  z-index: 1;
  position: absolute;
  top: 758px;
  left: 112px;
  font-size: 15px;
  font-family: StoneSerifITCSemi;
  min-width: 100px;
}
.copyright {
  position: absolute;
  top: 758px;
  right: 46px;
  font-size: 15px;
  font-family: StoneSerif;
  text-align: right;
  min-width: 100px;
}