:host{
  display: flex;
  justify-content: center;

  &:hover {
    .hidden {
      visibility: visible;
      display: unset;
      opacity: 0.5;
    }
  }
}
.hidden {
  visibility: hidden;

  &.last {
    display: none;
  }
}
img {
  cursor: pointer;
  height: 34px;
  width: 34px;
}