@font-face {
  font-family: MatrixSmallCaps;
  src: url(assets/fonts/MatrixRegularSmallCaps.ttf) format("truetype");
}
@font-face {
  font-family: MatrixSmallCaps;
  src: url(assets/fonts/MatrixBoldSmallCaps.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: MatrixBook;
  src: url(assets/fonts/MATRIBOO.ttf) format("truetype");
}
@font-face {
  font-family: StoneSerif;
  src: url(assets/fonts/StoneSerifRegular.ttf) format("truetype");
}
@font-face {
  font-family: StoneSerif;
  src: url(assets/fonts/StoneSerifBold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: StoneSerif;
  src: url(assets/fonts/StoneSerifItalic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: StoneSerifITCSemi;
  src: url(assets/fonts/StoneSerifITCSemi.ttf) format("truetype");
}
@font-face {
  font-family: StoneSerifSmallCaps;
  src: url(assets/fonts/ITC_STONE_SERIF_ITC--STOSFSCM.ttf) format("truetype");
}

@font-face {
  font-family: EurostyleCandyW01;
  src: url(assets/fonts/EurostileCandyW01Bold.ttf) format("truetype");
}
@font-face {
  font-family: RoGSanSerifStdB;
  src: url(assets/fonts/RoGSanSerifStdB.otf) format("openType");
}