
@import '~@angular/material/theming';
@include mat-core();
$Web-Card-Maker-primary: mat-palette($mat-indigo);
$Web-Card-Maker-accent: mat-palette($mat-pink, A200, A100, A400);
$Web-Card-Maker-warn: mat-palette($mat-red);
$Web-Card-Maker-theme: mat-light-theme((
  color: (
    primary: $Web-Card-Maker-primary,
    accent: $Web-Card-Maker-accent,
    warn: $Web-Card-Maker-warn,
  )
));
@include angular-material-theme($Web-Card-Maker-theme);


.fr-wrapper {
  // width: 100%;

  p {
    //display: flex;
    margin-bottom: 0;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {color: black; }
* { color: inherit; }

@import '~bootstrap/scss/bootstrap';
@import './fonts';

.line-height-1 {
  line-height: 1;
}
.object-fit {
  &-contain {
    object-fit: contain;
  }
  &-cover {
    object-fit: cover;
  }
  &-fill {
    object-fit: fill;
  }
  &-none {
    object-fit: none;
  }
}
.object-position {
  &-top {
    object-position: top;
  }
  &-bottom {
    object-position: bottom;
  }
  &-left {
    object-position: left;
  }
  &-right {
    object-position: right;
  }
  &-center {
    object-position: center;
  }
}